header {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

main {
    max-width: 800px;
    background-color: antiquewhite;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0077cc;
    border-bottom: 2px solid #0077cc;
    padding-bottom: 5px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}


img {
    border-radius: 10px;
    display: block;
    margin: 10px auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
    font-size: 0, 9em;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
}
